<!DOCTYPE html>

<html lang="en">

<head>
    <title>HomePage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        div {
            box-sizing: border-box;
            border-width: 1 !important;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Poppins;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.55;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);
        }
    </style>



    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/pickmeup.min.js"></script><!-- 日历 -->
    <link rel="stylesheet" type="text/css" href="../static/css/pickmeup.css"><!-- 日历 -->
    <script type="text/javascript" src="../static/js/handleCounter.js"></script><!-- 增加数字功能 -->
    <link rel="stylesheet" type="text/css" href="../static/css/handle-counter.min.css"><!-- 增加数字外观 -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"><!-- 整体结构 -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"><!-- 一些字体 -->
    <script type="text/javascript" src="../static/js/demo.js"></script><!-- 整体结构 -->

    <!-- For autocomplete search -->
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <!-- For autocomplete search -->

</head>

<body style="background-color: #211f17;">
    <link rel="stylesheet" href="../static/css/sticky-nav.css">
    <nav class="nav">
        <div class="container">
            <h1 class="logo"><a href="#">Ascenda Loyalty Hotel Booking</a></h1>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="bookHistory">Book History</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <link href="../static/css/landing-page.css" rel="stylesheet" />
        <div class="landing-page-container">
            <div class="landing-page-top-container">
                <div class="landing-page-hero">
                    <div class="landing-page-content-container">
                        <h1 class="heading landing-page-text10" style="color:antiquewhite;">Here</h1>
                        <h1 class="heading landing-page-text10" style="color:antiquewhite;">Book anywhere</h1>
                        <h2 class="subheading landing-page-subheading" style="color:antiquewhite;">
                            hotel for your personal travel
                        </h2>
                        <span class="landing-page-text11">
                            <span>Each Hotel is hand-picked,</span>
                            <br />
                            <span>personally visited and cannot be found elsewhere.</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="tm-main">
                <p>Booking</p>
            </div>

            <div class="tm-booking">
                <form method="post" action="/user/HotelList">
                    {% csrf_token %}
                    <div class="tm-form1">
                        <label for="hotel_guest">Destination</label>
                        <input type="text" style="width:110%;" name="hotel_name" id="destination"
                            placeholder="Enter Destination">

                        <div class="tm-num1" id="handleCounter1">
                            <label for="hotel_rooms">Number of Rooms</label><br />
                            <button type="button" class="counter-minus btn btn-primary">- </button>
                            <input type="text" name="hotel_rooms" id="hotel_rooms" value="1">
                            <button type="button" class="counter-plus btn btn-primary">+ </button>
                        </div>
                        <div class="tm-num2" id="handleCounter2">
                            <label for="hotel_guest">Number of Guests</label><br />
                            <button type="button" class="counter-minus btn btn-primary">-</button>
                            <input type="text" name="hotel_guest" id="hotel_guest" value="1">
                            <button type="button" class="counter-plus btn btn-primary">+</button>
                        </div>
                    </div>
                    <div class="vertical-line"> </div>
                    <div class="tm-form2">
                        <div class="tm-cl">
                            <label for="hotel_date" class="arrival">Visiting Dates from Arrival to Departure</label>
                            <input type="text" name="hotel_date" class="range" style="width:87%;" readonly="readonly">
                            <input type="submit" id="sub" value="Search">
                        </div>
                    </div>
                    <input type="hidden" name="number1" value="1">
                </form>
            </div>
            <div id="main-section" class="landing-page-main">
                <link href="../static/css/landing-page.css" rel="stylesheet" />
                <h1>Most famous places</h1>
                <span class="landing-page-text16">Recommended</span>
                <div class="landing-page-cards-container">
                    <div class="place-card-container">
                        <img alt="image" src="../static/src/home/London.jpg" class="place-card-image" />
                        <div class="place-card-container1">
                            <span class="place-card-text"><span>London</span></span>
                            <span class="place-card-text1">
                                <span>
                                    London is the capital and largest city of England and the United Kingdom, with a
                                    population of just over 9 million. It stands on the River Thames in south-east
                                    England at the head of a 50-mile (80 km) estuary down to the North Sea, and has been
                                    a major settlement for two millennia.
                                </span>
                            </span>
                            <div class="outline-button-container">
                                <form method="post" action="/user/HotelList">
                                    {% csrf_token %}
                                    <input type="hidden" name="hotel_name" id="destination"
                                        value="London, England, United Kingdom">
                                    <input type="hidden" name="hotel_rooms" id="hotel_rooms" value="1">
                                    <input type="hidden" name="hotel_guest" id="hotel_guest" value="1">
                                    <input type="hidden" name="hotel_date" value="14 Aug-22    to   15 Aug-22">
                                    <input type="hidden" name="number1" value="1">
                                    <button class="outline-button-button button">
                                        <span>Discover place</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="place-card-container">
                        <img alt="image" src="../static/src/home/Rome.jpg" class="place-card-image" />
                        <div class="place-card-container1">
                            <span class="place-card-text"><span>Rome</span></span>
                            <span class="place-card-text1">
                                <span>
                                    Rome is the capital city of Italy. It is also the capital of the Lazio region, the
                                    centre of the Metropolitan City of Rome, and a special comune named Comune di Roma
                                    Capitale. Rome is the country's most populated comune and the third most populous
                                    city in the European Union by population within city limits.
                                </span>
                            </span>
                            <div class="outline-button-container">
                                <form method="post" action="/user/HotelList">
                                    {% csrf_token %}
                                    <input type="hidden" name="hotel_name" id="destination" value="Rome, Italy">
                                    <input type="hidden" name="hotel_rooms" id="hotel_rooms" value="1">
                                    <input type="hidden" name="hotel_guest" id="hotel_guest" value="1">
                                    <input type="hidden" name="hotel_date" value="14 Aug-22    to   15 Aug-22">
                                    <input type="hidden" name="number1" value="1">
                                    <button class="outline-button-button button">
                                        <span>Discover place</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="place-card-container">
                        <img alt="image" src="../static/src/home/Singapore.jpg" class="place-card-image" />
                        <div class="place-card-container1">
                            <span class="place-card-text"><span>Singapore</span></span>
                            <span class="place-card-text1">
                                <span>
                                    Singapore is a unique multi-cultural Asian society, with a strong blend of Chinese,
                                    Malay and Indian traditions and a distinct British colonial heritage. It’s a small
                                    country with a population of only 5.5 million You can find great food, vibrant
                                    nightlife, arts and cultural events and it is easy to get around as English is
                                    widely spoken.
                                </span>
                            </span>
                            <div class="outline-button-container">
                                <form method="post" action="/user/HotelList">
                                    {% csrf_token %}
                                    <input type="hidden" name="hotel_name" id="destination"
                                        value="Singapore, Singapore">
                                    <input type="hidden" name="hotel_rooms" id="hotel_rooms" value="1">
                                    <input type="hidden" name="hotel_guest" id="hotel_guest" value="1">
                                    <input type="hidden" name="hotel_date" value="14 Aug-22    to   15 Aug-22">
                                    <input type="hidden" name="number1" value="1">
                                    <button class="outline-button-button button">
                                        <span>Discover place</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="place-card-container">
                        <img alt="image" src="../static/src/home/Paris.jpg" class="place-card-image" />
                        <div class="place-card-container1">
                            <span class="place-card-text"><span>Paris</span></span>
                            <span class="place-card-text1">
                                <span>
                                    Paris is known as the “City of Light”. It is also known as the Capital of
                                    Fashion, which is no surprise when one thinks of all those famous French designers.
                                    This beautiful and romantic city, in many respects, resembles an outdoor museum with
                                    its attractive and elegant architecture and wide boulevards.
                                </span>
                            </span>
                            <div class="outline-button-container">
                                <form method="post" action="/user/HotelList">
                                    {% csrf_token %}
                                    <input type="hidden" name="hotel_name" id="destination" value="Paris, France">
                                    <input type="hidden" name="hotel_rooms" id="hotel_rooms" value="1">
                                    <input type="hidden" name="hotel_guest" id="hotel_guest" value="1">
                                    <input type="hidden" name="hotel_date" value="14 Aug-22    to   15 Aug-22">
                                    <input type="hidden" name="number1" value="1">
                                    <button class="outline-button-button button">
                                        <span>Discover place</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="place-card-container">
                        <img alt="image" src="../static/src/home/Shanghai.jpg" class="place-card-image" />
                        <div class="place-card-container1">
                            <span class="place-card-text"><span>Shanghai</span></span>
                            <span class="place-card-text1">
                                <span>
                                    In Shanghai, known as the “Paris of the East,” the cultures from East and West are
                                    intertwined to create the city’s cosmopolitan style. What was once the ten-mile
                                    Shanghai International Settlement, established by the British in conjunction with
                                    Americans and French living along the Huangpu River in present-day Puxi.
                                </span>
                            </span>
                            <div class="outline-button-container">
                                <form method="post" action="/user/HotelList">
                                    {% csrf_token %}
                                    <input type="hidden" name="hotel_name" id="destination" value="Shanghai, China">
                                    <input type="hidden" name="hotel_rooms" id="hotel_rooms" value="1">
                                    <input type="hidden" name="hotel_guest" id="hotel_guest" value="1">
                                    <input type="hidden" name="hotel_date" value="14 Aug-22    to   15 Aug-22">
                                    <input type="hidden" name="number1" value="1">
                                    <button class="outline-button-button button">
                                        <span>Discover place</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="place-card-container">
                        <img alt="image" src="../static/src/home/Tokyo.jpg" class="place-card-image" />
                        <div class="place-card-container1">
                            <span class="place-card-text"><span>Tokyo</span></span>
                            <span class="place-card-text1">
                                <span>
                                    Tokyo (東京, Tōkyō) is Japan's capital and the world's most populous metropolis. It is
                                    also one of Japan's 47 prefectures, consisting of 23 central city wards and multiple
                                    cities, towns and villages west of the city center. The Izu and Ogasawara Islands
                                    are also part of Tokyo.
                                </span>
                            </span>
                            <div class="outline-button-container">
                                <form method="post" action="/user/HotelList">
                                    {% csrf_token %}
                                    <input type="hidden" name="hotel_name" id="destination" value="Tokyo, Japan">
                                    <input type="hidden" name="hotel_rooms" id="hotel_rooms" value="1">
                                    <input type="hidden" name="hotel_guest" id="hotel_guest" value="1">
                                    <input type="hidden" name="hotel_date" value="14 Aug-22    to   15 Aug-22">
                                    <input type="hidden" name="number1" value="1">
                                    <button class="outline-button-button button">
                                        <span>Discover place</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer class="tm-footer">
            <div class="tm-us">
                <p class="bold">About Us</p>
                <p>This is a DEMO of a Hotel-Reservation-System.</p>
            </div>

            <div class="tm-address">
                <p class="bold">Address</p>
                <p>Singapore University of Technology and Design
                    Phone : Not-Gonna-Tell-Ya
                    Email : Nan</p>
            </div>
        </footer>
    </div>

    <!-- For autocomplete search -->
    <script src="../static/js/autosearch.js"></script>
    <!-- For autocomplete search -->

</body>

</html>