<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Login</title>

</head>

<body>
    <div>
        <link rel="stylesheet" href="../css/sticky-nav.css">
        <nav class="nav">
            <div class="container">
                <h1 class="logo"><a href="#">Ascenda Loyalty Hotel Booking</a></h1>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#" class="current">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="bookHistory.html">Book History</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container1">
        <h1 class="text">Please Login</h1>
        <form>

            <div class="form-control">
                <input type="text" required>
                <label>Email</label>
            </div>

            <div class="form-control">
                <input type="password" required>
                <label>Password</label>
            </div>

            <button class="btn">Login</button>

            <p class="text">Don't have an account? <a href="register.html">Register</a> </p>
        </form>
    </div>
    <script src="../js/login.js"></script>
</body>

</html>